---
import Carrousel from './Carrousel.astro';
import Pill from './Pill.astro';

const { id, title, description, tags, images, link } = Astro.props;
---

<h3 class="text-2xl font-semibold text-yellow-100 mb-2">{title}</h3>
<p class="text-lg text-pretty">{description}</p>
<ul class="flex gap-x-2">
  {
    tags.map((tagName) => (
      <li><Pill tagName={tagName} /></li>
    ))
  }
</ul>
<Carrousel id={id} images={images} />
<a href={link} class="text-blue-500 hover:underline">View project</a>