---
import Button from "./Button.astro";
import Carrousel from "./Carrousel.astro";
import Pill from "./Pill.astro";
import ArrowIcon from "./icons/ArrowIcon.astro";

const { id, title, description, tags, images, link } = Astro.props;
---
<div class="p-4 rounded-lg shadow bg-opacity-75 border-gray-700 hover:bg-slate-800 transition">
  <h3 class="text-2xl font-semibold text-sky-200 dark:text-white mb-2">{title}</h3>
  <p class="text-lg text-pretty mb-4">{description}</p>
  <ul class="flex gap-x-2 gap-y-4 mb-4 flex-wrap justify-stretch">
    {
      tags.map((tagName) => (
        <li>
          <Pill tagName={tagName} />
        </li>
      ))
    }
  </ul>
  <Carrousel id={id} images={images} />
  <Button url={link}>
    View project...
    <ArrowIcon class="size-4 ms-2" />
  </Button>
</div>